<div style="padding-top: 16pc;">
</div>

<mat-grid-list cols="1" rowHeight="20pc">
    <mat-grid-tile>
  <mat-toolbar-row>
        <div Class="A-div" style="padding-left: 100px; ">
            <img class="A-img" src="assets/images/frontend/banners_middle/60179844d99fd1612159044.jpg">
        </div>

        <div class="A-div" style="padding-left: 50px;">
            <img class="A-img" src="assets/images/frontend/banners_middle/5fe09ad2820e11608555218.jpg">
        </div>
    
        <div class="A-div" style="padding-left: 50px;">
            <img class="A-img" src="assets/images/frontend/banners_middle/6017984eb0b2d1612159054.jpg">
        </div>
    
 </mat-toolbar-row>
     


    </mat-grid-tile>
    
  </mat-grid-list>
  







<!--
<mat-grid-list cols="3" rowHeight="22pc">
    <mat-grid-tile>
    
        
        <div style="padding-left: 4pc;">
            <img class="A-img" src="assets/images/frontend/banners_middle/60179844d99fd1612159044.jpg">
        </div>

    
    
        <div style="padding-left: 5pc;">
        <img class="A-img" src="assets/images/frontend/banners_middle/5fe09ad2820e11608555218.jpg">
    </div>


        <div>
            <img class="A-img" src="assets/images/frontend/banners_middle/6017984eb0b2d1612159054.jpg">
        </div>

    </mat-grid-tile>
  </mat-grid-list>    -->
  
