
 <app-header></app-header>
 <app-homeproducts></app-homeproducts>
 <app-gridimages></app-gridimages>
     <app-subscribe></app-subscribe>
     <app-summer></app-summer>
     <app-specialdeal></app-specialdeal>
     <app-featured></app-featured>
   <app-fashionmw></app-fashionmw> 
   <app-topselling></app-topselling>  
     <app-topcb></app-topcb>   
  <app-footer></app-footer>
