.S-tool{
    background-color: white;
    padding-left: 1pc;

}


.L-div{
    height : 12pc;
    width : 10px;
    padding-top: 1pc;
    
}

.example-card{

    height : 9pc;
    width : 8pc;
    
}

mat-grid-tile {
    background: lightblue;
  }
  


.C-div{
    padding-left: 90pc;
}

