<mat-toolbar class="S-tool">
    <mat-toolbar-row>
        <div style="height: 40pc;">
     <b style="padding-left: 20px; font-size: 30px; font-family:monda,sans-serif;">Top Categories </b>
            <span style="padding: 0px 0px 10px 24.5pc;">
                <button mat-raised-button color="primary">View</button></span>

     

     <!--          <div class="L-div">
                    <mat-card class="example-card">
                          <div style="padding-top: 10px; padding-left: 30px;">
                            <img mat-card-image style="height:90px; width:100px ;"
                              src="assets/images/product/thumb_60252fb1c5e8d1613049777.jpg"
                              alt="Photo of products">
                          </div>
                          <div>
                            <mat-card-actions>
                              <button mat-button style="color: black;">Puma <br>and Ladies Dresses</button> 
                            </mat-card-actions>
                          </div>
                      </mat-card>
                      </div>    -->

                      
<mat-toolbar-row>

    <div style="padding-top: 12pc;">
         <mat-card class="example-card">
        <div style="padding-top: 10px; padding-left: 30px;">
          <img mat-card-image style="height:90px; width:100px ;"
            src="assets/images/category/60028b11d20b71610779409.jpg"
            alt="Photo of products">
        </div>
        <div>
          <mat-card-actions>
            <button mat-button style="color: black; font-size: 16px;margin-left: 30px;">
              Laptops</button> 
          </mat-card-actions>
        </div>
        </mat-card>
      </div>


      <div style="padding-left: 1pc; padding-top: 12pc;">
        <mat-card class="example-card">
       <div style="padding-top: 10px; padding-left: 30px;">
         <img mat-card-image style="height:90px; width:100px ;"
           src="assets/images/category/6029109754ad21613303959.jpg"
           alt="Photo of products">
       </div>
       <div>
         <mat-card-actions>
           <button mat-button style="color: black; font-size: 16px; margin-left: 30px;">
             Laptops</button> 
         </mat-card-actions>
       </div>
       </mat-card>
     </div>

     <div style="padding-left: 1pc; padding-top: 12pc;">
      <mat-card class="example-card">
     <div style="padding-top: 10px; padding-left: 30px;">
       <img mat-card-image style="height:90px; width:100px ;"
         src="assets/images/category/60291199937041613304217.jpg"
         alt="Photo of products">
     </div>
     <div>
       <mat-card-actions>
         <button mat-button style="color: black; font-size: 16px; margin-left: 30px;">
           Mobiles</button> 
       </mat-card-actions>
     </div>
     </mat-card>
   </div>

   <div style="padding-left: 1pc; padding-top: 12pc;">
    <mat-card class="example-card">
   <div style="padding-top: 10px; padding-left: 30px;">
     <img mat-card-image style="height:90px; width:100px ;"
       src="assets/images/category/602911049a4b51613304068.jpg"
       alt="Photo of products">
   </div>
   <div>
     <mat-card-actions>
       <button mat-button style="color: black; font-size: 16px; margin-left: 30px;">
        Shoes</button> 
     </mat-card-actions>
   </div>
   </mat-card>
 </div>





      </mat-toolbar-row>
</div> 

















        <div style="height: 40pc;padding-left: 1pc;">
            <b style="padding-left: 20px; font-size: 30px; font-family:monda,sans-serif;">Top Brands </b>
            <span style="padding: 0px 0px 10px 27.5pc;">
                <button mat-raised-button color="primary">View</button></span>

                             
<mat-toolbar-row>

  <div style="padding-top: 12pc;">
       <mat-card class="example-card">
      <div style="padding-top: 10px; padding-left: 30px;">
        <img mat-card-image style="height:90px; width:100px ;"
          src="assets/images/brand/600299a9a37f91610783145.png"
          alt="Photo of products">
      </div>
      <div>
        <mat-card-actions>
          <button mat-button style="color: black; font-size: 16px; margin-left: 30px;">
            Samsung</button> 
        </mat-card-actions>
      </div>
      </mat-card>
    </div>


    <div style="padding-left: 1pc; padding-top: 12pc;">
      <mat-card class="example-card">
     <div style="padding-top: 10px; padding-left: 30px;">
       <img mat-card-image style="height:90px; width:100px ;"
         src="assets/images/brand/6002b47c9a3221610790012.jpg"
         alt="Photo of products">
     </div>
     <div>
       <mat-card-actions>
         <button mat-button style="color: black; font-size: 16px; margin-left: 30px;">
          Nike</button> 
       </mat-card-actions>
     </div>
     </mat-card>
   </div>

   <div style="padding-left: 1pc; padding-top: 12pc;">
    <mat-card class="example-card">
   <div style="padding-top: 10px; padding-left: 30px;">
     <img mat-card-image style="height:90px; width:100px ;"
       src="assets/images/brand/6002b17d2ac301610789245.jpg"
       alt="Photo of products">
   </div>
   <div>
     <mat-card-actions>
       <button mat-button style="color: black; font-size: 16px;margin-left: 30px;">
         Levis</button> 
     </mat-card-actions>
   </div>
   </mat-card>
 </div>

 <div style="padding-left: 1pc; padding-top: 12pc;">
  <mat-card class="example-card">
 <div style="padding-top: 10px; padding-left: 30px;">
   <img mat-card-image style="height:90px; width:100px ;"
     src="assets/images/brand/6024f70c441e21613035276.jpg"
     alt="Photo of products">
 </div>
 <div>
   <mat-card-actions>
     <button mat-button style="color: black; font-size: 16px; margin-left: 30px;">
      L’Oreal</button> 
   </mat-card-actions>
 </div>
 </mat-card>
</div>





    </mat-toolbar-row>







        </div>

        </mat-toolbar-row>
        </mat-toolbar>
