<mat-toolbar-row style="padding-top: 28pc;">
  <div style="width: 25pc;">
    <mat-grid-list cols="5pc" rowHeight="50pc" style="background-color:white;padding-right: 4pc;">
      <mat-grid-tile>
       <mat-list>
          <mat-list-item><a> Men's Fashion</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Women's Fashion</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Electronics</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Home Appliances</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Automobile & Motorcycle</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Sports & Outdoors</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Baby's Fashion</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Kids & Toys</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Health & Beauty</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Skin & Hair Solution</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Gift Items</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Covid-19 Protection</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Gift Corner</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Weddings & Events</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Novelty & Special Use</mat-list-item>
        </mat-list> 
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <!--   <<********  Image slider ******>>

  <ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <a routerLink="/"><img src="assets\images\frontend\sliders\1.png" style="height: 497.344px; width: 750px;"></a>
        </div>
        <div class="carousel-caption"></div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <a routerLink="/"><img src="assets\images\frontend\sliders\2.png" style="height: 497.344px; width: 750px;"></a>
        </div>
        <div class="carousel-caption"></div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <a routerLink="/"><img src="assets\images\frontend\sliders\3.png" style="height: 497.344px; width: 750px;"></a>
        </div>
        <div class="carousel-caption"></div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <a routerLink="/"><img src="assets\images\frontend\sliders\4.png" style="height: 497.344px; width: 809px;"></a>
        </div>
        <div class="carousel-caption"></div>
    </ng-template>
</ngb-carousel> 

 <<*********End if image slider *********>>  -->



  <div style="width: 50pc;">
    <mat-grid-list cols="15pc" rowHeight="50pc" style="background-color:white">
      <mat-grid-tile>


        <mat-list>
          <mat-list-item>
            <div style="padding-bottom: 20pc; padding-top: 6pc;">
              <img style="width: 50pc; height: 30pc; ; padding-left: 60px;" 
              src="assets/images/frontend/sliders/606ab765333751617606501.png" alt="slider"> 
             </div>
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item style="padding-top: 8pc; padding-left: 1pc;">                                
<mat-toolbar-row>

  <div style="padding-top: 12pc; padding-left: 1.5pc; ">
       <mat-card style="height:160.295px;  width:140px; border : 1px solid #E5E5E5;">
      <div style="padding-top: 10px; padding-left: 20px;">
        <img mat-card-image style="height:100px; width:134px ;"
          src="assets/images/category/60028b11d20b71610779409.jpg"
          alt="Photo of products">
      </div>
      <div>
        <mat-card-actions>
          <button mat-button style="color: black; font-size: 16px; margin-left: 30px;">
            Laptops</button> 
        </mat-card-actions>
      </div>
      </mat-card>
    </div>


    <div style="padding-left: 1pc; padding-top: 12pc;">
      <mat-card style="height:160.295px;  width:140px; border : 1px solid #E5E5E5;">
     <div style="padding-top: 20px; padding-left: 30px;">
       <img mat-card-image style="height:90px; width:120px ;"
         src="assets/images/category/6029109754ad21613303959.jpg"
         alt="Photo of products">
     </div>
     <div>
       <mat-card-actions>
         <button mat-button style="color: black; font-size: 16px; margin-left: 30px;">
           Clothing</button> 
       </mat-card-actions>
     </div>
     </mat-card>
   </div>

   <div style="padding-left: 1pc; padding-top: 12pc;">
    <mat-card style="height:160.295px;  width:140px; border : 1px solid #E5E5E5;">
   <div style="padding-top: 20px; padding-left: 20px;">
     <img mat-card-image style="height:90px; width:140px ;"
       src="assets/images/category/60291199937041613304217.jpg"
       alt="Photo of products">
   </div>
   <div>
     <mat-card-actions>
       <button mat-button style="color: black; font-size: 16px; margin-left: 30px;">
         Mobiles</button> 
     </mat-card-actions>
   </div>
   </mat-card>
 </div>

 <div style="padding-left: 1pc; padding-top: 12pc;">
  <mat-card style="height:160.295px;  width:140px; border : 1px solid #E5E5E5;">
 <div style="padding-top: 20px; padding-left: 30px;">
   <img mat-card-image style="height:90px; width:100px ;"
     src="assets/images/category/602911049a4b51613304068.jpg" alt="Photo of products">
 </div>
 <div>
   <mat-card-actions>
     <button mat-button style="color: black; font-size: 16px; margin-left: 30px;">
      Shoes</button> 
   </mat-card-actions>
 </div>
 </mat-card>
</div>




</mat-toolbar-row>

          
  </mat-list-item>
        </mat-list>
      
      <!--<div style="padding-bottom: 20pc;">
        <img style="width: 50pc; height: 30pc; ; padding-left: 60px;" 
        src="assets/images/frontend/sliders/606ab765333751617606501.png" alt="slider"> 
       </div>     -->


         





    </mat-grid-tile>
    </mat-grid-list>
  </div>






  
  <div style="width: 25pc; padding-bottom: 37px;">
    <mat-grid-list cols="10pc" rowHeight="8.27pc" style="background-color:white">
      
      <mat-grid-tile>
        <div style="width: 18pc;">
          <mat-card class="example-card">
            <mat-toolbar-row>
              <div style="padding-top: 35px;">
                <img mat-card-image style="height:74px; width:80px ;"
                  src="assets/images/product/thumb_60252fb1c5e8d1613049777.jpg" alt="Photo of products">
              </div>
              <div style="padding-left: 30px; padding-top: 15px; margin-top: 15px;">
                <mat-card-actions>
                  <button mat-button style="color: black;">Puma <br>Pink Ladies Dresses</button> <br>
                  <button mat-button color="accent" style="margin-bottom: 5px;">$ 22.65 </button>
                </mat-card-actions>
              </div>
            </mat-toolbar-row>
          </mat-card>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div style="width: 18pc;">
          <mat-card class="example-card">
            <mat-toolbar-row>
              <div style="padding-top: 35px;">
                <img mat-card-image style="height:74px; width:80px ;"
                  src="https://script.viserlab.com/visermart/assets/images/product/thumb_60252f739e5cd1613049715.jpg"
                  alt="Photo of products">
              </div>
              <div style="padding-left: 25px;">
                <mat-card-actions>
                  <button mat-button style="color: black;">Puma and Ladies Dresses</button> <br>
                  <button mat-button color="accent">$ 35.00 </button>
                </mat-card-actions>
              </div>
            </mat-toolbar-row>
          </mat-card>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div style="width: 18pc;">
          <mat-card class="example-card">
            <mat-toolbar-row>
              <div style="padding-top: 35px;">
                <img mat-card-image style="height:74px; width:80px ;"
                  src="https://script.viserlab.com/visermart/assets/images/product/thumb_602b890e609081613465870.jpg"
                  alt="Photo of products">
              </div>
              <div style="padding-left: 25px;">
                <mat-card-actions>
                  <button mat-button style="color: black;">Man White Sneaker</button> <br>
                  <button mat-button color="accent">$ 20.00 </button>
                </mat-card-actions>
              </div>
            </mat-toolbar-row>
          </mat-card>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div style="width: 18pc;">
          <mat-card class="example-card">
            <mat-toolbar-row>
              <div style="padding-top: 35px;">
                <img mat-card-image style="height:74px; width:80px ;"
                  src="https://script.viserlab.com/visermart/assets/images/product/thumb_6006b785c77081611052933.jpg"
                  alt="Photo of products">
              </div>
              <div style="padding-left: 20px; padding-top: 15px;">
                <mat-card-actions>
                  <button mat-button style="color: black;">Baby Fashion sweatheart<br> monster</button> <br>
                  <button mat-button color="accent">$ 18.00 </button>
                </mat-card-actions>
              </div>
            </mat-toolbar-row>
          </mat-card>
        </div>
      </mat-grid-tile>

      

      <mat-grid-tile>
        <div style="width: 18pc;">
          <mat-card class="example-card">
            <mat-toolbar-row>
              <div style="padding-top: 35px;">
                <img mat-card-image style="height:74px; width:80px ;"
                  src="https://script.viserlab.com/visermart/assets/images/product/thumb_6006a17e4fc301611047294.jpg"
                  alt="Photo of products">
              </div>
              <div style="padding-left: 20px;">
                <mat-card-actions>
                  <button mat-button style="color: black;">Tomford Glass</button> <br>
                  <button mat-button color="accent">$ 15.00</button>
                </mat-card-actions>
              </div>
            </mat-toolbar-row>
          </mat-card>
        </div>
      </mat-grid-tile>


      <mat-grid-tile>
        <div style="width: 18pc;">
          <mat-card class="example-card">
            <mat-toolbar-row>
              <div style="padding-top: 35px;">
                <img mat-card-image style="height:74px; width:80px ;"
                  src="https://script.viserlab.com/visermart/assets/images/product/thumb_602a6a82776391613392514.jpg"
                  alt="Photo of products">
              </div>
              <div style="padding-left: 15px;">
                <mat-card-actions>
                  <button mat-button style="color: black;">Slim Trapered Rip Jeans</button> <br>
                  <button mat-button color="accent">$ 15.00 </button>
                </mat-card-actions>
              </div>
            </mat-toolbar-row>
          </mat-card>
        </div>
      </mat-grid-tile>  
      
      
      


































































    </mat-grid-list>
  </div>
</mat-toolbar-row>



<!--  <mat-grid-tile> 
        <div style="width: 24pc;">         
          <mat-card class="example-card">
            <mat-toolbar-row>
            <div>          
            <img mat-card-image  style="height:100px; width:120px ;"
            src="https://script.viserlab.com/visermart/assets/images/product/thumb_60252f739e5cd1613049715.jpg" alt="Photo of a Shiba Inu">
            </div>           
           <div style="padding-left: 15px;">
            <mat-card-actions>
              <button mat-button color="accent">Puma and Ladies Dresses</button> <br>
              <button mat-button color="primary">$ 22.65 </button>
            </mat-card-actions>
            </div>
            </mat-toolbar-row>
          </mat-card> 
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        
        <div style="width: 24pc;">         
          <mat-card class="example-card">
            <mat-toolbar-row>
            <div>          
            <img mat-card-image  style="height:100px; width:120px ;"
            src="https://script.viserlab.com/visermart/assets/images/product/thumb_602b890e609081613465870.jpg" alt="Photo of a Shiba Inu">
            </div>           
           <div style="padding-left: 15px;">
            <mat-card-actions>
              <button mat-button color="accent">Puma and Ladies Dresses</button> <br>
              <button mat-button color="primary">$ 22.65 </button>
            </mat-card-actions>
            </div>
            </mat-toolbar-row>
          </mat-card> 
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        
        <div style="width: 24pc;">         
          <mat-card class="example-card">
            <mat-toolbar-row>
            <div>          
            <img mat-card-image  style="height:100px; width:120px ;"
            src="https://script.viserlab.com/visermart/assets/images/product/thumb_6006b785c77081611052933.jpg" alt="Photo of a Shiba Inu">
            </div>           
           <div style="padding-left: 15px;">
            <mat-card-actions>
              <button mat-button color="accent">Puma and Ladies Dresses</button> <br>
              <button mat-button color="primary">$ 22.65 </button>
            </mat-card-actions>
            </div>
            </mat-toolbar-row>
          </mat-card> 
        </div>
      </mat-grid-tile>

      <mat-grid-tile>  
        <div style="width: 24pc;">         
          <mat-card class="example-card">
            <mat-toolbar-row>
            <div>          
            <img mat-card-image  style="height:100px; width:120px ;"
            src="https://script.viserlab.com/visermart/assets/images/product/thumb_6006a17e4fc301611047294.jpg" alt="Photo of a Shiba Inu">
            </div>           
           <div style="padding-left: 15px;">
            <mat-card-actions>
              <button mat-button ><b style="color: black;">Puma Pink Ladies Dresses</b></button> <br>
              <button mat-button color="primary">$ 22.65 </button>
            </mat-card-actions>
            </div>
            </mat-toolbar-row>
          </mat-card> 
        </div>
      </mat-grid-tile>

      <div style="width: 24pc;">         
        <mat-card class="example-card">
          <mat-toolbar-row>
          <div>          
          <img mat-card-image  style="height:100px; width:120px ;"
          src="https://script.viserlab.com/visermart/assets/images/product/thumb_602a6a82776391613392514.jpg" alt="Photo of a Shiba Inu">
          </div>           
         <div style="padding-left: 15px;">
          <mat-card-actions>
            <button mat-button color="accent">Puma and Ladies Dresses</button> <br>
            <button mat-button color="primary">$ 22.65 </button>
          </mat-card-actions>
          </div>
          </mat-toolbar-row>
        </mat-card> 
      </div>
    </mat-grid-tile>
    </div> -->