.R-tool{
    height: 35pc;
    width: 1589px;
    background-color: white;
    padding-top: 5pc;
}

.example-card{
    border : 1px solid #E5E5E5;
   /* width: 240px;
    height: 106px;  */
    
}


/* .picsum-img-wrapper
{
    transition: all 0s ease 0s;
} */
.ngbSlide
{
    transition: all 0s;
    transition: ease 0s; 
}