
<div style="height: 25pc;"></div>

<mat-grid-list class="G-div" cols="3" rowHeight="225px">
    <mat-grid-tile >
        <div style="height: 226px; width: 280px; padding-right:45px;">
        <img src="assets/images/frontend/banners_top/6017999ef01d91612159390.png">
       </div>
</mat-grid-tile>
    <mat-grid-tile rowspan="2">
        <div style="height: 426px; width: 280px; padding-right:48px;padding-bottom: 40px;">
            <img src="assets/images/frontend/banners_top/60095e3e0159b1611226686.png" >
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div style="height: 226px; width: 280px;padding-right:48px;">
            <img src="assets/images/frontend/banners_top/60095788b8b441611224968.png">
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
        <div style="height: 426px; width: 280px;padding-right:45px; padding-bottom: 20px;">
            <img src="assets/images/frontend/banners_top/6009576455fd61611224932.png" >
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
        <div style="height: 226px; width: 280px; padding-bottom: 220px; padding-right: 50px;">
            <img src="assets/images/frontend/banners_top/600957c8b93281611225032.png">
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">
        <div style="height: 426px; width: 280px; padding-top: 120px; padding-right: 46px">
            <img src="assets/images/frontend/banners_top/60095e9ab30a81611226778.png" >
        </div>
        
    </mat-grid-tile>
  </mat-grid-list>    
  




<!--
<div class="G-div">
<mat-grid-list cols="3" rowHeight="190px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
</div> -->

<!--
<mat-grid-list cols="1" rowHeight="40pc">
    <mat-grid-tile>
        <mat-toolbar-row>
    <div style="height: 226px; width: 280px;">
        <img src="assets/images/frontend/banners_top/6017999ef01d91612159390.png">
    </div>

    <div style="height: 426px; width: 280px;">
        <img src="assets/images/frontend/banners_top/60095e3e0159b1611226686.png" >
    </div>

    <div style="height: 226px; width: 280px;">
        <img src="assets/images/frontend/banners_top/60095788b8b441611224968.png">
    </div>


  </mat-toolbar-row>

  <mat-toolbar-row>

  <div style="height: 426px; width: 280px;">
    <img src="assets/images/frontend/banners_top/60095e3e0159b1611226686.png" >
</div>

<div style="height: 226px; width: 280px;">
    <img src="assets/images/frontend/banners_top/6017999ef01d91612159390.png">
</div>

<div style="height: 426px; width: 280px;">
    <img src="assets/images/frontend/banners_top/60095e3e0159b1611226686.png" >
</div>

</mat-toolbar-row>



    </mat-grid-tile>
    </mat-grid-list>   -->
