
<app-header></app-header>

<mat-toolbar class="M-tool">
    <mat-toolbar-row>
        <h2 style=" color: gray; padding-left: 45pc;">Order Tracking</h2>
             
        
    </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar-row> 
 <div style="padding:10pc 0px 0px 20pc;">    
    <mat-form-field appearance="outline" style= "width:564px; padding-left: 5pc;padding-top: 30px">
        <input matInput placeholder="Enter Your Order ID">   
    </mat-form-field>
</div>

    <div style="padding-top: 10.5pc;">
        <button mat-raised-button color="primary" style="padding:15px 30px 0px 30px">
            <h3>Track Now</h3></button>
    </div>  
</mat-toolbar-row>       

<div style="height: 20pc;"></div>

<app-footer></app-footer>







