


<div style="height: 4pc; font-size: 30px; padding-left: 5pc; padding-top: 4pc;">
    <b>Our Featured Products</b>

    <span style="padding: 0px 0px 10px 76pc;">
        <button mat-raised-button color="primary">View All Products</button></span>

    </div>
    

<mat-toolbar class="U-bar">
    <mat-toolbar-row>

        <div class="L-div">
            <mat-card class="example-card">
                  <div style="padding-top: 30px; padding-left: 40px;">
                    <img mat-card-image style="height:290px; width:230px ;"
                      src="assets/images/product/thumb_60279592461901613206930.jpg"
                      alt="Photo of products">
                  </div>
                  <div style="padding-left: 0px;">
                    <mat-card-actions>
                      <button mat-button style="color: black;">Gucci Sandals for woman</button> 
                      <button mat-button color="accent">$830.00</button>
                    </mat-card-actions>
                  </div>
              </mat-card>
              </div>

              
        <div class="L-div">
            <mat-card class="example-card">
                  <div style="padding-top: 30px; padding-left: 40px;">
                    <img mat-card-image style="height:290px; width:230px ;"
                      src="assets/images/product/thumb_602774dd1bfd51613198557.jpg"
                      alt="Photo of products">
                  </div>
                  <div style="padding-left: 0px;">
                    <mat-card-actions>
                      <button mat-button style="color: black;">
                        Regulator Automatic Blue Slate</button> 
                      <button mat-button color="accent">$499.00</button>
                    </mat-card-actions>
                  </div>
              </mat-card>
              </div>

              
        <div class="L-div">
            <mat-card class="example-card">
                  <div style="padding-top: 30px; padding-left: 40px;">
                    <img mat-card-image style="height:290px; width:230px ;"
                      src="assets/images/product/thumb_6028c8f461fea1613285620.jpg"
                      alt="Photo of products">
                  </div>
                 <div style="padding-left: 0px;">
                    <mat-card-actions>
                      <button mat-button style="color: black; margin-left: 30px;">Tomford Sunglass</button> 
                      <button mat-button color="accent"> $120.00 </button>
                    </mat-card-actions>
                  </div>  
              </mat-card>
              </div>

              
        <div class="L-div">
            <mat-card class="example-card">
                  <div style="padding-top: 30px; padding-left: 40px;">
                    <img mat-card-image style="height:290px; width:230px ;"
                      src="assets/images/product/thumb_60252fb1c5e8d1613049777.jpg"
                      alt="Photo of products">
                  </div>
                  <div style="padding-left: 0px;">
                    <mat-card-actions>
                      <button mat-button style="color: black; ">Puma Pink Ladies Dresses</button>
                      <button mat-button color="accent">$ 22.65 </button>
                    </mat-card-actions>
                  </div>
              </mat-card>
              </div>
</mat-toolbar-row>
</mat-toolbar>

