.L-div{
    padding: 60px 0px 0px 60px;
    background-color: white;
}
  

.F-text{
    width: 300px;
    padding-top: 40px;
}

.R-div{
    padding-top: 110px;
    padding-left: 100px;
}

.U-bar{
    background-color: white;
    padding-top: 10pc; 
}

.example-card{
    height: 356px;
    width: 270px;
    border : 1px solid #E5E5E5;

}