

<app-header></app-header>

<mat-toolbar class="M-tool">
    <mat-toolbar-row>
        <h2 style=" color: gray; padding-left: 45pc;">Contact Us</h2>
    </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="M-tool">
    <mat-toolbar-row>

        <div style="background-color: white;">
            <h1 style="padding-left:30pc; font-size: 30px; ">Contact with Us</h1>
            <a style="color: gray; size: 10px; padding-left: 10pc;">
  We appreciate feedback and interaction of any sort so please feel free to get in touch.
 </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>



<mat-grid-list cols="2" rowHeight="70pc">
    <mat-grid-tile>
    

<div style="height: 40pc; padding-bottom: 10pc;">
    
    <mat-toolbar-row>         
        <div>
            <mat-label style="font-size: 16px;padding-left: 40px;">Name :</mat-label>
        </div>
          
         <div>    
            <mat-form-field appearance="outline" style= "width:564px; padding-left: 4.7pc;">
         <!--       <mat-label>Email Address</mat-label>   -->
                <input matInput placeholder="">   
    <!--        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>    
                <mat-hint>Hint</mat-hint>     -->
            </mat-form-field>
            </div>  
        </mat-toolbar-row>       
        
    
<mat-toolbar-row>         
    <div>
        <mat-label style="font-size: 16px; padding-top: 35px;padding-left: 40px;">Email :</mat-label>
        </div>
      
     <div>    
        <mat-form-field appearance="outline" style= "width:564px; padding-left: 5pc;padding-top: 30px">
     <!--       <mat-label>Email Address</mat-label>   -->
            <input matInput placeholder="">   
<!--        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>    
            <mat-hint>Hint</mat-hint>     -->
        </mat-form-field>
        </div>  
    </mat-toolbar-row>       
    
    <mat-toolbar-row>         
        <div>
            <mat-label style="font-size: 16px; padding-top: 30px;padding-left: 40px;">Subject :</mat-label>
            </div>
          
         <div>    
            <mat-form-field appearance="outline" style= "width:564px; padding-left: 4.2pc; padding-top: 30px">
                <input matInput placeholder="">   
    
            </mat-form-field>
            </div>  
        </mat-toolbar-row>       
        
    
        <mat-toolbar-row>         
            <div>
                <mat-label style="font-size: 16px; padding-top: 30px;padding-left: 40px;">Message :</mat-label>
                </div>
              
          <div>    
                <mat-form-field appearance="outline" style= "width:564px; padding-left:52px; padding-top: 30px"> 
                    <mat-label></mat-label> 
                   <input matInput placeholder="">   
        <!--        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>    
                    <mat-hint>Hint</mat-hint>     -->
             </mat-form-field>
                </div>   
                

            </mat-toolbar-row>     
           
    <div style="padding:40px 0pc 10pc 23pc;">
        <span style="padding-left: 0pc;">
        <button mat-raised-button color="accent">Send Message</button>
        </span>
    </div>  
</div>

</mat-grid-tile>

<mat-grid-tile>
    <div style="height: 30pc; padding-bottom: 40pc;">
        <img style="width: 600px; height: 720px;" 
        src="assets/images/frontend/contact_page/6016adfe7f1cb1612099070.png">
        </div>
</mat-grid-tile>
</mat-grid-list>

<app-footer></app-footer>
    
