
<div style="padding-top: 30pc;"></div>


<div style="height: 4pc; font-size: 30px; padding-left: 4pc; padding-top: 4pc;">
    <b>Top Selling Products</b>
</div>
    
    <mat-grid-list cols="1" rowHeight="12pc">
        <mat-grid-tile>
            <div style="width: 25pc; padding-left: 0px;">
            <mat-card class="example-card">
            <mat-toolbar-row>
                <div style="padding-top: 65px;">
                  <img mat-card-image style="height:74px; width:80px ;"
                    src="https://script.viserlab.com/visermart/assets/images/product/thumb_602a6a82776391613392514.jpg"
                    alt="Photo of products">
                </div>
                <div style="padding-left: 20px; padding-top: 35px;">
                  <mat-card-actions>
                    <button mat-button style="color: black;">Slim Trapered Rip Jeans</button> <br>
                    <button mat-button color="accent">$ 15.00 </button>
                    <button mat-button color="primary">View More</button>

                  </mat-card-actions>
                </div>
              </mat-toolbar-row>
            </mat-card>
          </div>



            <div style="width: 25pc; padding-left: 40px;" >
                <mat-card class="example-card">
                  <mat-toolbar-row>
                    <div style="padding-top: 65px;">
                      <img mat-card-image style="height:74px; width:80px ;"
                        src="assets/images/product/thumb_60252fb1c5e8d1613049777.jpg" alt="Photo of products">
                    </div>
                    <div style="padding-left: 30px; padding-top: 35px;">
                      <mat-card-actions>
                        <button mat-button style="color: black;">Puma Pink Ladies Dresses</button> <br>
                        <button mat-button color="accent">$ 22.65 </button>
                        <button mat-button color="primary">View More</button>
                      </mat-card-actions>
                    </div>
                  </mat-toolbar-row>
                </mat-card>
              </div>

              <div style="width: 25pc; padding-left: 40px;">
                <mat-card class="example-card">
                  <mat-toolbar-row>
                    <div style="padding-top: 65px;">
                      <img mat-card-image style="height:74px; width:80px ;"
                        src="assets/images/product/thumb_602774dd1bfd51613198557.jpg"
                        alt="Photo of products">
                    </div>
                    <div style="padding-left: 20px; padding-top: 35px">
                      <mat-card-actions>
                        <button mat-button style="color: black;">Regulator Automatic Blue Slate</button> <br>
                        <button mat-button color="accent">$ 15.00</button>
                        <button mat-button color="primary">View More</button>
                      </mat-card-actions>
                    </div>
                  </mat-toolbar-row>
                </mat-card>
              </div>
        </mat-grid-tile>


        <mat-grid-tile>
            <div style="width: 25pc; padding-left: 0px;">
                <mat-card class="example-card">
                  <mat-toolbar-row>
                    <div style="padding-top: 65px;">
                      <img mat-card-image style="height:74px; width:80px ;"
                        src="https://script.viserlab.com/visermart/assets/images/product/thumb_602b890e609081613465870.jpg"
                        alt="Photo of products">
                    </div>
                    <div style="padding-left: 25px; padding-top: 35px">
                      <mat-card-actions>
                        <button mat-button style="color: black;">Man White Sneaker</button> <br>
                        <button mat-button color="accent">$ 20.00 </button>
                        <button mat-button color="primary">View More</button>
                      </mat-card-actions>
                    </div>
                  </mat-toolbar-row>
                </mat-card>
              </div>

              <div style="width: 25pc; padding-left: 40px;">
                <mat-card class="example-card">
                  <mat-toolbar-row>
                    <div style="padding-top: 65px;">
                      <img mat-card-image style="height:74px; width:80px ;"
                        src="assets/images/product/thumb_6028c8f461fea1613285620.jpg"
                        alt="Photo of products">
                    </div>
                    <div style="padding-left: 20px; padding-top: 35px">
                      <mat-card-actions>
                        <button mat-button style="color: black;">Tomford Sunglass</button> <br>
                        <button mat-button color="accent">$ 15.00</button>
                        <button mat-button color="primary">View More</button>
                      </mat-card-actions>
                    </div>
                  </mat-toolbar-row>
                </mat-card>
              </div>  
              
              
              <div style="width: 25pc; padding-left: 40px;">
                <mat-card class="example-card">
                  <mat-toolbar-row>
                    <div style="padding-top: 65px;">
                      <img mat-card-image style="height:74px; width:80px ;"
                        src="https://script.viserlab.com/visermart/assets/images/product/thumb_6006a17e4fc301611047294.jpg"
                        alt="Photo of products">
                    </div>
                    <div style="padding-left: 20px; padding-top: 35px">
                      <mat-card-actions>
                        <button mat-button style="color: black;">Tomford Glass</button> <br>
                        <button mat-button color="accent">$ 15.00</button>
                        <button mat-button color="primary">View More</button>
                      </mat-card-actions>
                    </div>
                  </mat-toolbar-row>
                </mat-card>
              </div>


        </mat-grid-tile>
      </mat-grid-list>
      
    
      <div style="height: 25pc;"></div>