<mat-toolbar color="primary">
    <mat-toolbar-row>

        <div class="L-div">
            <a style="font-size: 14px;" mat-button routerLink="/returnex">Returns and Exchanges </a>
            <a style="font-size: 14px;" mat-button routerLink="/shipping">Shipping and Delivery </a>
            <a style="font-size: 14px;" mat-button routerLink="/tremscond">Terms and Conditions </a>
            <a style="font-size: 14px;" mat-button routerLink="/privacy">Privacy and Policies </a>
            <a style="font-size: 14px;" mat-button routerLink="/trackorder">Track Your Order </a>
        </div>

        <div class="img">
            <mat-form-field appearance="fill">
                <!--    <mat-label>Select an option</mat-label>   -->
                <mat-select [(value)]="selected" class="A-select">
                    <!--   <mat-option>None</mat-option> -->

                    <mat-option value="option1">
                        <img style="height: 25px; width: 25px;" src="assets/images/lang/5ffe84073745e1610515463.png"
                            alt="image">
                        English
                    </mat-option>


                    <mat-option value="option2">
                        <img style="height: 25px; width: 25px;" src="assets/images/lang/5ffe83f108a3d1610515441.png"
                            alt="image">
                        Bangla
                    </mat-option>

                    <mat-option value="option3">
                        <img style="height: 25px; width: 25px;" src="assets/images/lang/606859990183b1617451417.png"
                            alt="image">
                        Spanish
                    </mat-option>


  <!--                  <mat-option value="option4">
                        <img style="height: 25px; width: 25px;" src="placeholder/image/64x64.jpg" alt="image">
                        France
                    </mat-option>   -->

                    <mat-option value="option5">
                        <img style="height: 25px; width: 25px;" src="assets/images/lang/60709ff7b13b91617993719.png" alt="image">
                        German
                    </mat-option>


                </mat-select>
            </mat-form-field>

            <p>You selected: {{selected}}</p>

        </div>







    </mat-toolbar-row>
</mat-toolbar>


<mat-toolbar class="M-tool">
    <mat-toolbar-row>
        <img class="A-img" src="assets/images/logoIcon/logo.png">
        <div class="K-div">
            <a style="font-size: 16px;" mat-button routerLink="/home">Home </a>
            <a style="font-size: 16px;" mat-button>Products </a>
            <a style="font-size: 16px;" mat-button>Brands </a>
            <a style="font-size: 16px;" mat-button routerLink="/contact">Contact </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="B-tool" color="primary">
    <mat-toolbar-row>
        <div class="A-text"> 
            <p>
                <mat-form-field appearance="standard" class="F-text">
                  <mat-label>Search...</mat-label>
                  <input matInput>
                  <button type="button" mat-button style="padding: 0px 0px 0px 0px;">
                  <span class="material-icons">
                    search
                    </span></button>
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!--  <mat-hint>Hint</mat-hint>   -->
                </mat-form-field>
            </p>
        </div>
       
        <div style="padding-top: 55px; margin-left: 100px;">
            <mat-form-field appearance="">
            <mat-select [(value)]="item">
              
              <mat-option value="option1" style="color: black;"><b>All Categories</b></mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
          </div>



        <div style="padding-left: 15pc; padding-top: 30px;">
            
         <button type="button" mat-button routerLink="/login">   <!--   (click)="drawer.toggle()">     -->
              <span class="material-icons">  
            <!--    <mat-icon matBadge="15" matBadgeColor="warn" routerLink="/login"> -->
                    person_outline
                <!-- </mat-icon>  -->
              </span>   </button>  
            
                <button type="button" mat-button routerLink="/comparison">        
            <span class="material-icons">
                sync
                </span></button>

                <button type="button" mat-button>  
            <span class="material-icons">
                favorite
                </span></button>

                <button type="button" mat-button>
            <span class="material-icons">
                shopping_bag
                </span></button>
   </div>
    </mat-toolbar-row>
</mat-toolbar>


<!--
<app-homeproducts></app-homeproducts>
<app-gridimages></app-gridimages>
    <app-subscribe></app-subscribe>
    <app-summer></app-summer>
    <app-specialdeal></app-specialdeal>
    <app-featured></app-featured>
  <app-fashionmw></app-fashionmw> 
  <app-topselling></app-topselling> 

    
    <app-topcb></app-topcb>   -->
    

    

















































    


