
<app-header></app-header>

<mat-toolbar class="M-tool">
    <mat-toolbar-row>
        <h2 style=" color: gray; padding-left: 45pc;">Product Comparison</h2>
             
        
    </mat-toolbar-row>
</mat-toolbar>

<div style="height: 30pc;"></div>

<app-footer></app-footer>








