<!-- <div>
  <mat-card>
      This is test
  </mat-card>
</div> -->


<!--
<mat-toolbar color="primary">
    <mat-toolbar-row>

        <div class="L-div">
            <a style="font-size: 14px;" mat-button routerLink="/returnex">Returns and Exchanges </a>
            <a style="font-size: 14px;" mat-button routerLink="/shipping">Shipping and Delivery </a>
            <a style="font-size: 14px;" mat-button routerLink="/tremscond">Terms and Conditions </a>
            <a style="font-size: 14px;" mat-button routerLink="/privacy">Privacy and Policies </a>
            <a style="font-size: 14px;" mat-button routerLink="/trackorder">Track Your Order </a>

        </div>

        <div class="img">
            <mat-form-field appearance="fill">
                                <mat-select [(value)]="selected" class="A-select">
                

                    <mat-option value="option1">
                        <img style="height: 25px; width: 25px;" src="assets/images/lang/5ffe84073745e1610515463.png"
                            alt="image">
                        English
                    </mat-option>


                    <mat-option value="option2">
                        <img style="height: 25px; width: 25px;" src="assets/images/lang/5ffe83f108a3d1610515441.png"
                            alt="image">
                        Bangla
                    </mat-option>

                    <mat-option value="option3">
                        <img style="height: 25px; width: 25px;" src="assets/images/lang/606859990183b1617451417.png"
                            alt="image">
                        Spanish
                    </mat-option>

                    <mat-option value="option5">
                        <img style="height: 25px; width: 25px;" src="assets/images/lang/60709ff7b13b91617993719.png"
                            alt="image">
                        German
                    </mat-option>


                </mat-select>
            </mat-form-field>

            <p>You selected: {{selected}}</p>

        </div>







    </mat-toolbar-row>
</mat-toolbar>


<mat-toolbar class="M-tool">
    <mat-toolbar-row>
        <img class="A-img" src="assets/images/logoIcon/logo.png">
        <div class="K-div">
            <a style="font-size: 16px;" mat-button routerLink="/header">Home </a>
            <a style="font-size: 16px;" mat-button>Products </a>
            <a style="font-size: 16px;" mat-button>Brands </a>
            <a style="font-size: 16px;" mat-button routerLink="/contact">Contact </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="B-tool" color="primary">
    <mat-toolbar-row>
        <div class="A-text">
            <p>
                <mat-form-field appearance="standard" class="F-text">
                    <mat-label>Search ?</mat-label>
                    <input matInput>
                
                </mat-form-field>
            </p>
        </div>

        <div style="padding-left: 25pc; padding-top: 30px;">

            
            <button type="button" mat-button routerLink="/login">
                

                <span class="material-icons">person_outline</span>
            </button>

            <button type="button" mat-button>
                <span class="material-icons">
                    sync
                </span></button>

            <button type="button" mat-button>
                <span class="material-icons">
                    favorite
                </span></button>

            <button type="button" mat-button>
                <span class="material-icons">
                    shopping_bag
                </span></button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>    -->

<!-- ***** End of Header ***** -->

<app-header></app-header>

<mat-toolbar class="M-tool">
    <mat-toolbar-row>
        <h2 style=" color: gray; padding-left: 43.5pc;">My Account</h2>
    </mat-toolbar-row>
</mat-toolbar>




<div fxFlexFill class="Main-div" fxLayoutAlign="center center">
    <mat-card fxFlex=25 class="M-card">
        <mat-toolbar style="padding-left: 8pc;background-color:rebeccapurple; color: white;"> 
            User Login</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
                <input matInput placeholder="Username" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" required>
            </mat-form-field>
            <button mat-raised-button type="submit" class="mt-5" color="accent">Login</button>
        </form>
        
        <div style="margin-left: 8pc; font-size: 16px;margin-top: 15px;">New User?
            <a  routerLink="/signup" style="text-decoration:none;font-size: 16px; color: tomato;">
                Create An Account</a>
    
        </div> 
    </mat-card>
</div>

<app-footer></app-footer>