

<app-header></app-header>

<mat-toolbar class="M-tool">
    <mat-toolbar-row>
        <h2 style=" color: gray; padding-left: 45pc;">Sign up</h2>
    </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="M-tool">
    <mat-toolbar-row>

        <div style="background-color: white;">
            <h1 style="padding-left:51pc; font-size: 30px; ">Welcome</h1>
            <a style="color: gray; size: 10px; padding-left: 48pc;">Welcome to Visermart</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>


<mat-grid-list cols="2" rowHeight="60pc">
    <mat-grid-tile>
        <img style="width: 700px; height: 900px; padding-bottom: 60px;" 
        src="https://script.viserlab.com/visermart/assets/images/frontend/register_page/5fec6155771601609326933.png" alt="register-bg">
    </mat-grid-tile>
    
  
<div fxFlexFill class="Main-div">
    <mat-card fxFlex=30 class="M-card" >
        <mat-toolbar style="background-color: teal;color: white; padding-left: 10pc;">Create Account</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
                <input matInput placeholder="First Name" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Last Name" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Username" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Mobile" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="email" placeholder="Email" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Confirm Password" required>
            </mat-form-field>
            
            <button mat-raised-button type="submit" class="mt-5" 
            style="background-color: teal;color: white; margin-top: 10px;">Sign-up</button>
        </form>
       <div style="margin-left: 12pc; font-size: 16px;margin-top: 25px;">Already have an Account?
            <a  routerLink="/login" style="text-decoration:none;font-size: 16px;color: tomato;">
                Login </a>
    
        </div>  
  </mat-card>
</div>


<div style="height: 25pc;"></div>
<app-footer></app-footer>

  <!--
 <div style="height: 30pc;">
    <div>
    <form class="example-form">    
        <mat-form-field style="width: 80%; padding-left: 43pc; padding-top: 5pc;">
            <mat-label><b>First Name</b></mat-label>
            <input matInput placeholder="" value="" required>
       </mat-form-field>
       </form>
    </div>
       
    <div class="Q-div">
    <form class="example-form">
        <mat-form-field style="width: 80%; padding-left: 43pc;">
                <mat-label><b>Last Name</b></mat-label>
                <input matInput placeholder="" value="" required>
           </mat-form-field>
           </form>
           </div>

           <div class="Q-div">
            <form class="example-form">
                <mat-form-field style="width: 80%; padding-left: 43pc;">
                        <mat-label><b>Username</b></mat-label>
                        <input matInput placeholder="" value="" required>
                   </mat-form-field>
                   </form>
                   </div>
        


           <div class="Q-div">
                <form class="example-form">
                    <mat-form-field style="width: 80%; padding-left: 43pc;">
                      <mat-label><b>Telephone</b></mat-label>
                      <span matPrefix>+91 &nbsp;</span>
                      <input type="tel" matInput placeholder="" required>
                      <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                  </form>
            </div> -->

        
           <!-- <div>
        <mat-form-field appearance="fill" style="padding-top: 15px; padding-left: 43.8pc; width: 20%;;">
                <mat-label ><b>Country</b></mat-label>
                <mat-select>
                  <mat-option>None</mat-option>
                  <mat-option value="option1">India</mat-option>
                  <mat-option value="option2">Indonesia</mat-option>
                  <mat-option value="option3">Australia</mat-option>
                </mat-select>
    
              </mat-form-field> 
           </div> -->     
    
    
           
    <!--
    <div class="Q-div">
        <form class="example-form">
            <mat-form-field style="width: 80%; padding-left: 43pc;">
                <mat-label><b>Password</b></mat-label>
                <input matInput placeholder="" value="" required>
           </mat-form-field>
           </form>
           </div>   --> 
    
           
  <!--
    <div class="Q-div">
        <form class="example-form">
            <mat-form-field style="width: 80%; padding-left: 43pc;"> 
               <mat-label><b>Confirm Password</b></mat-label>
                <input matInput placeholder="" value="" required>
           </mat-form-field>
           </form>
           </div> 
    
           
    
    <div style="padding:30px 0pc 10pc 54pc;">
        <span>
        <button mat-raised-button color="primary">Sign-up</button></span>
        <span style="padding-left: 5pc;">
        <button mat-raised-button color="accent" routerLink="/login">Back to Login</button>
        </span>
    </div>
   </div>     
    </mat-grid-list> -->
    
            
    

    
 
  


     
    



          
            
    
