
<mat-toolbar color="primary" class="R-tool">
    <mat-toolbar-row>
 <div>
    <img class="w-100" src="https://script.viserlab.com/visermart/assets/images/logoIcon/logo_2.png" alt="logo">
<span style="height: 112px; width: 340px;">
   <p style="padding-left: 71px; color:whitesmoke;font-size: 16px;"> Visermart brings you tons of products in over</p> 
   <p style="padding-left: 71px; color:whitesmoke;font-size: 16px;"> 20+ different categories, including men's </p>
   <p style="padding-left: 71px; color:whitesmoke;font-size: 16px;"> fashion,women's fashion,baby fashion, and </p>
   <p style="padding-left: 71px; color:whitesmoke;font-size: 16px;"> more. </p>
</span>
</div>

<div>
    <H5 style="padding-left: 100px; padding-top:490px; font-size: 22px;">
         Pages</H5>
    <div style="padding-top: 50px; padding-left: 80px;">
    <a style="font-size: 14px;" mat-button routerLink="/returnex">Returns and Exchanges </a> <br>
    <a style="font-size: 14px;" mat-button routerLink="/shipping">Shipping and Delivery  </a> <br>
    <a style="font-size: 14px;" mat-button routerLink="/tremscond">Terms and Conditions </a> <br>
    <a style="font-size: 14px;" mat-button routerLink="/privacy">Privacy and Policies  </a>
    </div>
</div>

<div>
    <H5 style="padding-left: 130px; padding-top:490px; font-size:22px;">Useful link</H5>
    <div style="padding-top: 50px; padding-left: 110px;">
    <a style="font-size: 14px;" mat-button>About Us</a> <br>
    <a style="font-size: 14px;" mat-button routerLink="/contact">Contact Us</a> <br>
    <a style="font-size: 14px;" mat-button>FAQ </a> <br>
    <a style="font-size: 14px;" mat-button routerLink="/trackorder">Track Your Order </a>
    </div>
</div>

<div>
    <H5 style="padding-left: 130px; padding-top:455px; font-size: 22px;">Contact Us</H5>
    <div style="padding-top: 50px; padding-left: 130px;">

        <span class="material-icons">
            location_on
            </span>
    <a style="font-size: 14px;" mat-button> Visermart, House 60, Road #5555 </a> <br>
    <span class="material-icons">
        call
        </span>
    <a style="font-size: 14px;" mat-button>+ (001) 001 001</a> <br>
    <span class="material-icons">
        mail_outline
        </span>
    <a style="font-size: 14px;" mat-button>test@site.com</a> <br>
    
    </div>
</div>

</mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="primary" style="padding-left: 80px;" >
    <mat-toolbar-row>
<div style="border-top-style: solid;">
    <p style="padding:30px 0px 20px 0px; font-size: 16px;">Copyright © visermart 2021. All rights reserved.</p>
</div>    

<div style="padding-left: 42pc; border-top-style: solid;">
<img style="padding:30px 0px 25px 0px;" src="https://script.viserlab.com/visermart/assets/images/frontend/footer/5fe717202e4f91608980256.png" alt="footer">

</div>

        
      </mat-toolbar-row>
      </mat-toolbar> 








 








  <!--  <mat-toolbar-row>  -->

    <!--
        <mat-grid-list color="primary" class="R-tool" cols="4" rowHeight="30pc">
            <mat-grid-tile>
                
            <img style="width: 150px; height: 200px; padding-bottom: 60px;" src="https://script.viserlab.com/visermart/assets/images/logoIcon/logo_2.png" alt="logo">

            </mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            
          </mat-grid-list> -->
          
    

<!-- </mat-toolbar-row>  -->
