.L-div{
    padding: 170px 0px 0px 70px;
}
  

.F-text{
    width: 300px;
    padding-top: 40px;
}

.R-div{
    padding-top: 110px;
    padding-left: 100px;
}

.A-text{
    padding: 100px 0px 0px 100px;
}