<div style="height: 2pc;"></div>

<mat-toolbar color="primary" style="height: 216px;">
    <mat-toolbar-row>

        <div class="L-div">
<p style="font-size: 30px;">Subscribe to our newsletter to get the latest news,</p> 
 <p style="font-size: 30px;">   updates, and special offers </p>
        </div>

 <!--      <div class="R-div">
        <form class="example-form">
         <mat-form-field appearance="standard" class="F-text">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Emailname@domain.com" value="">
              <div style="padding-left: 350px;">
              <button mat-raised-button color="accent"><h1>SUBSCRIBE</h1></button>
              </div>

            </mat-form-field>
        </form>
        </div>   -->

        <div class="A-text"> 
          <p>
              <mat-form-field appearance="standard" class="F-text">
                <mat-label>Email</mat-label>
                <input matInput>
                <button mat-raised-button color="accent" style="margin-left: 20px;"><h1>SUBSCRIBE</h1></button>
              </mat-form-field>
          </p>
      </div>

       
          
    
</mat-toolbar-row>
</mat-toolbar>
