<div style="height: 10pc; font-size: 34px;padding-top: 15pc;">
   
    


<div style="height: 4pc; font-size: 30px; padding-left: 5pc; padding-top: 4pc;">

   <mat-button-toggle-group  aria-label="Font Style">
     <mat-button-toggle (click)="onsubmit()" value="Women's Fashion" class="Mat-button">
         {{Fashion?"Women's Fashion":"Men's Fashion"}}   
      </mat-button-toggle>  

<!--
   <mat-button-toggle (click)="onclick()" value="Men's Fashion" class="Mat-button">
    {{Category?"Men's Fashion":"Women's Fashion"}}
        </mat-button-toggle>     -->
      
    </mat-button-toggle-group>
   
   </div>
   

<mat-toolbar class="U-bar" *ngIf="visible">
   <mat-toolbar-row>

       <div class="L-div" ng-hide="isHidden">
           <mat-card class="example-card">
                 <div style="padding-top: 30px; padding-left: 40px;">
                   <img mat-card-image style="height:290px; width:230px ;"
                     src="assets/images/product/thumb_60279592461901613206930.jpg"
                     alt="Photo of products">
                 </div>
                 <div style="padding-left: 0px;">
                   <mat-card-actions>
                     <button mat-button style="color: black;">Gucci Sandals for woman</button> 
                     <button mat-button color="accent">$830.00</button>
                   </mat-card-actions>
                 </div>
             </mat-card>
             </div>

             
       <div class="L-div">
           <mat-card class="example-card">
                 <div style="padding-top: 30px; padding-left: 40px;">
                   <img mat-card-image style="height:290px; width:230px ;"
                     src="assets/images/product/thumb_602774dd1bfd51613198557.jpg"
                     alt="Photo of products">
                 </div>
                 <div style="padding-left: 0px;">
                   <mat-card-actions>
                     <button mat-button style="color: black;">
                       Regulator Automatic Blue Slate</button> 
                     <button mat-button color="accent">$499.00</button>
                   </mat-card-actions>
                 </div>
             </mat-card>
             </div>

             
       <div class="L-div">
           <mat-card class="example-card">
                 <div style="padding-top: 30px; padding-left: 40px;">
                   <img mat-card-image style="height:290px; width:230px ;"
                     src="assets/images/product/thumb_6028c8f461fea1613285620.jpg"
                     alt="Photo of products">
                 </div>
                <div style="padding-left: 0px;">
                   <mat-card-actions>
                     <button mat-button style="color: black;">Tomford Sunglass</button> 
                     <button mat-button color="accent"> $120.00 </button>
                   </mat-card-actions>
                 </div>  
             </mat-card>
             </div>

             
       <div class="L-div">
           <mat-card class="example-card">
                 <div style="padding-top: 30px; padding-left: 40px;">
                   <img mat-card-image style="height:290px; width:230px ;"
                     src="assets/images/product/thumb_60252fb1c5e8d1613049777.jpg"
                     alt="Photo of products">
                 </div>
                 <div style="padding-left: 0px;">
                   <mat-card-actions>
                     <button mat-button style="color: black;">Puma Pink Ladies Dresses</button>
                     <button mat-button color="accent">$ 22.65 </button>
                   </mat-card-actions>
                 </div>
             </mat-card>
             </div>
</mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="U-bar" *ngIf="invisible">
   <mat-toolbar-row>

       <div class="L-div" ng-hide="isHidden"> 
           <mat-card class="example-card">
                 <div style="padding-top: 30px; padding-left: 40px;">
                   <img mat-card-image style="height:290px; width:230px ;"
                     src="assets/images/product/thumb_60279592461901613206930.jpg"
                     alt="Photo of products">
                 </div>
                 <div style="padding-left: 0px;">
                   <mat-card-actions>
                     <button mat-button style="color: black;">Gucci Sandals for woman</button> 
                     <button mat-button color="accent">$830.00</button>
                   </mat-card-actions>
                 </div>
             </mat-card>
             </div>

             
       <div class="L-div">
           <mat-card class="example-card">
                 <div style="padding-top: 30px; padding-left: 40px;">
                   <img mat-card-image style="height:290px; width:230px ;"
                     src="assets/images/product/thumb_602774dd1bfd51613198557.jpg"
                     alt="Photo of products">
                 </div>
                 <div style="padding-left: 0px;">
                   <mat-card-actions>
                     <button mat-button style="color: black;">
                       Regulator Automatic Blue Slate</button> 
                     <button mat-button color="accent">$499.00</button>
                   </mat-card-actions>
                 </div>
             </mat-card>
             </div>

             
       <div class="L-div">
           <mat-card class="example-card">
                 <div style="padding-top: 30px; padding-left: 40px;">
                   <img mat-card-image style="height:290px; width:230px ;"
                     src="assets/images/product/thumb_6028c8f461fea1613285620.jpg"
                     alt="Photo of products">
                 </div>
                <div style="padding-left: 0px;">
                   <mat-card-actions>
                     <button mat-button style="color: black;">Tomford Sunglass</button> 
                     <button mat-button color="accent"> $120.00 </button>
                   </mat-card-actions>
                 </div>  
             </mat-card>
             </div>

             
       <div class="L-div">
           <mat-card class="example-card">
                 <div style="padding-top: 30px; padding-left: 40px;">
                   <img mat-card-image style="height:290px; width:230px ;"
                     src="assets/images/product/thumb_60252fb1c5e8d1613049777.jpg"
                     alt="Photo of products">
                 </div>
                 <div style="padding-left: 0px;">
                   <mat-card-actions>
                     <button mat-button style="color: black;">Puma Pink Ladies Dresses</button>
                     <button mat-button color="accent">$ 22.65 </button>
                   </mat-card-actions>
                 </div>
             </mat-card>
             </div>
</mat-toolbar-row>
</mat-toolbar>

    

   






















   
 <!--       
<div style="padding-top: 3pc; height: 20pc;"> -->

       <!--  <button mat-button class="Mat-button">Men's Fashion</button>
          <button mat-button class="Mat-button">Women's Fashion</button>    -->

<!--
 <mat-button-toggle-group  aria-label="Font Style">
    <mat-button-toggle value="Men's Fashion" class="Mat-button" ng-model="ishidden">
      </mat-button-toggle>
    <mat-button-toggle value="Women's Fashion" class="Mat-button">Women's Fashion</mat-button-toggle>
  </mat-button-toggle-group>

  </div> -->

   
